/* Yellow Range Slider */
#customSlider {
  @apply bg-base-300 h-10;
}

#customSlider .range-slider__range {
  @apply bg-gray-600 h-10;
}

#customSlider .range-slider__thumb {
  @apply bg-primary;
  transition: transform 0.3s;
  @apply w-4 h-11 rounded-md border-2 border-violet-100 -translate-y-1/2 -translate-x-1/2;
}

#customSlider .range-slider__thumb:hover {
  @apply bg-primary;
  transition: transform 0.3s;
  @apply w-4 h-12 rounded-md border-2 border-violet-100 -translate-y-1/2 -translate-x-1/2;
}

#customSlider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
  @apply w-4 h-12 rounded-md border-2 border-violet-100 -translate-y-1/2 -translate-x-1/2;
}

#customSlider .range-slider__range[data-active] {
  @apply h-10;
}
