/* Yellow Range Slider */
#customSlider {
  @apply bg-base-300 h-2;
}

#customSlider .range-slider__range {
  @apply bg-lime-300 h-2;
}

#customSlider .range-slider__thumb {
  @apply bg-lime-500;
  transition: transform 0.3s;
  @apply w-5 h-5;
}

#customSlider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#customSlider .range-slider__range[data-active] {
  height: 6px;
}
